*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root{
    --purple500: #281154;
    --purple300: #270082;
    --purple600: #1b0058;
    --red600: #dc0000;
    --body: #f9f6ff; 
}
html,body{
    font-weight: 300;
    line-height: 1.4; 
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white
}
header{
    background-color: var(--purple600);
    position: sticky;
    top: 0;
    z-index: 50;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 25px 25px;
}
.logo{
    font-size: 26px;
    color: white;
    /* margin-top: 20px;
    padding-left: 20px;`
    padding-right: 20px; */
    cursor: pointer;
    font-weight: 700;
}
nav ul{
    display: flex;
    gap: 17px;
    padding-top: 10px;
    font-size: 18px;
}
/* nav ul li{
    /* border-bottom: 1px solid white transparent;
    transition: 0.5s ease-in-out; */
/* } */

nav ul li:hover{
    /* opacity: 0.5; */
    border-bottom: 1px solid white;
    transition: 0.4s ease-in-out;
}
.hero-section{
    background-image: url(./Assets/./hero_image.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: grid;
    place-items: center;
    text-align: center;
    
}
h1{
    font-size: 90px;
    gap: 15px;
}
h3{
    font-size: 25px;
    gap: 15px;
}
p{
    padding: 20px 200px 0px 200px;
}
.bar_icon{
    display: none;
}
.trial-btn{
    font-size: 17px;
    padding: 10px 7px;
    background-color: var(--red600);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.trial-btn:hover{
    opacity: 0.5;
    transition: 0.4s ease-in-out;
}
.para2{
    padding: 0;
}
.music-section{
    padding-top: 50px;
    text-align: center;
    background-color: var(--purple500);
    color: white;
    padding: 0 20px 0 20px;
}
.container2{
    padding: 0 50px 0 50px;
    text-align: center;
}
.music-section .container2{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.ipad-img img{
    width: 100%;
    position: relative;
    top: 400px;
    margin-top: -400px;
}
.head2{
    padding-left: 5px;
    padding-top: 40px;
    font-size: 40px;
    cursor: pointer;
}

@media (max-width: 926px) {
    nav ul{
        display: none;
    }
    .bar_icon{
        padding-top: 6px;
        display: block;
        color: white;
    }
    .logo{
        font-size: 22px;
    }
    h1{
        font-size: 60px;
        gap: 5px;
    }
    h3{
        font-size: 20px;
        padding-top: 10px;
    }
    p{
        padding: 20px 100px 0px 100px;
    }
}
@media (max-width: 568px) {
    p{
        padding: 20px 50px 0px 50px;
    }
    h1{
        font-size: 50px;
    }
}