*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root{
    --purple500: #281154;
    --purple300: #270082;
    --purple600: #1b0058;
    --red600: #dc0000;
    --body: #f9f6ff; 
}
html,body{
    font-weight: 300;
    line-height: 1.4; 
    scroll-behavior: smooth;
}
.hero-section{
    scroll-margin: 80px;
}
.music-section{
    scroll-margin: 70px;
}
.video-section{
    scroll-margin: 70px;
}
.gift-section{
    scroll-margin: 80px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white
}
header{
    background-color: var(--purple600);
    position: sticky;
    top: 0;
    z-index: 50;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 25px 25px;
}
.logo{
    font-size: 26px;
    color: white;
    /* margin-top: 20px;
    padding-left: 20px;`
    padding-right: 20px; */
    cursor: pointer;
    font-weight: 700;
}
nav ul{
    display: flex;
    gap: 17px;
    padding-top: 10px;
    font-size: 18px;
}

nav ul li:hover{
    /* opacity: 0.5; */
    border-bottom: 1px solid white;
    transition: 0.4s ease-in-out;
}
.hero-section{
    background-image: url(./Assets/./hero_image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: grid;
    place-items: center;
    text-align: center;
}
h1{
    font-size: 90px;
    gap: 15px;
}
h3{
    font-size: 25px;
    gap: 15px;
}
p{
    padding: 20px 200px 0px 200px;
}
.bar_icon{
    display: none;
}
.trial-btn{
    font-size: 17px;
    padding: 14px 14px;
    background-color: var(--red600);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.trial-btn:hover{
    transform: scale(1.07);
    transition: 0.4s ease-in-out;
}
.para2{
    padding: 0;
}
.music-section{
    padding-top: 50px;
    text-align: center;
    background-color: var(--purple500);
    color: white;
    padding: 0 20px 0 20px;
    margin-top: -20px;
}
.container2{
    padding: 0 50px 0 50px;
    text-align: center;
}
.music-section .container2{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar{
    width: 10px;
    
    background-color:gray
    
}
::-webkit-scrollbar-thumb{
    background-color: var(--purple600);
    border-radius: 5px;
}
.ipad-img img{
    width: 100%;
    position: relative;
    top: 400px;
    margin-top: -400px;
}
.head2{
    padding-left: 5px;
    padding-top: 40px;
    font-size: 40px;
    cursor: pointer;
}
.container3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 435px 50px 0 50px;
}
.container3 h4{
    font-size: 17px;
    font-weight: 400;
}
.read-btn{
    padding: 16px 28px;
    margin-bottom: 1rem;
    background-color: #37008e;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
}
.read-btn:hover{
    transform: scale(1.07);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.container3 img{
    width: 60rem;
    padding-bottom: 20px;
}
.container4{
    background-image: url(./Assets/./video.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
    color: white;
    display: grid;
    place-items: center;
    text-align: center;
}
.video-section .container4{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0 20px 0px 20px;
}
.container4 h4{
    margin-top: 72px;
    
}

.container4 h3{
    font-size: 25px;
    margin-top: 155px;
}
.container5{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    line-height: 1.7;
}
.gift-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 20px 20px 20px;
    margin: 33px 0;
}
.gift-btn{
    background-color: var(--purple300);
    border: none;
    padding: 10px 15px;
    color: white;
    font-size: 16px;
    border-radius: 6px;
} 
.gift-btn:hover{
    transform: scale(1.07);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.para3{
    display: block;
    font-weight: 500;
}
.container6{
    display: flex;
    justify-content: space-around;
    background-color: var(--purple600);
    color: white;
    padding: 30px;
    line-height: 1.6;
}
.container6 h3{
    font-size: 22px;
    cursor: pointer;
}
.footer-lower{
    text-align: center;
    padding: 10px ;
    color: white;
    background-color: var(--purple300);
}













/* Responsive Started */
/* Responsive Started */

@media (max-width: 1090px) {
    .ipad-img {
        width: 44rem;
        height: 239px;
    }
    .ipad-img img{
        width: 48rem;
    }
    .container4{
        padding: 0 50px 0 50px;
    }
    .container3{
        padding-top: 22rem;
    }
    .container3 img{
        width: 100%;
    }
    
}
@media (max-width: 926px){

    .container3{
        padding-top: 19rem;
    }
    .ipad-img{
        width: 37rem;
        height: 200px;

    }
    .ipad-img img{
        width: 40rem;
    }
    nav ul{
        display: none;
    }
    .bar_icon{
        padding-top: 6px;
        display: block;
        color: white;
    }
    .logo{
        font-size: 22px;
    }
    h1{
        font-size: 60px;
        gap: 5px;
    }
    h3{
        font-size: 20px;
        padding-top: 10px;
    }
    p{
        padding: 20px 100px 0px 100px;
    }
    .gift-section{
        flex-direction: column;
    }
    .gift-section img{
        width: 80%;
    }
    .container5{
        align-items: center;
        padding: 0 30px 0 30px;
        text-align: center;
    }
    .container5 h3{
        font-size: 25px;
    }
}
@media (max-width: 780px) {
    .container3{
        padding-top: 16rem;
    }
    .hero-section {
        padding: 0 10px 0 10px;
        height: 80vh;
        background-position: center;
        background-size: cover;
    }
    .ipad-img{
        width: 34rem;
        height: 180px;
    }
    .ipad-img img{
        width: 35rem;
    }
    .container6{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}
@media (max-width: 600px) {
    .container3{
        padding-top: 14rem;
    }
    .read-btn{
        font-size: 14px;
    }
    .music-section .container2{
        gap: 25px;
        font-size: 15px;
    }
    .head2{
        font-size: 20px;
    }
    .ipad-img{
        width: 28rem;
        height: 162px;
    }
    .ipad-img img{
        width: 30rem;
        margin-bottom: 50px;
    }
    p{
        padding: 20px 50px 0px 50px;
    }
    h1{
        font-size: 50px;
    }
}
@media (max-width: 530px) {
    .container3{
        padding-top: 12rem;
    }
    .read-btn{
        font-size: 13px;
    }
    .music-section .container2{
        gap: 20px;
        font-size: 14px;
    }
    .head2{
        font-size: 30px;
    }
    .ipad-img{
        width: 23rem;
        height: 134px;
    }
    .ipad-img img{
        width: 24rem;
        margin-bottom: 117px;
    }
}
@media (max-width: 430px) {
    .container3{
        padding-top: 10rem;
    }
    .music-section .container2{
        gap: 18px;
        font-size: 14px;
    }
    .trial-btn{
        font-size: 15px;
    }
    .head2{
        font-size: 29px;
    }
    .ipad-img{
        width: 23rem;
        height: 134px;
    }
    .ipad-img img{
        width: 24rem;
        margin-bottom: 117px;
    }
}
@media (max-width: 426px) {
    .container3{
        padding-top: 10rem;
    }
    .ipad-img{
        width: 19rem;
        height: 110px;
    }
    .ipad-img img{
        width: 19rem;
        margin-bottom: 174px;
    }
}
@media (max-width: 330px) {
    .container3{
        padding-top: 9rem;
    }
    .ipad-img{
        width: 19rem;
        height: 123px;
    }
    .ipad-img img{
        width: 19rem;
        margin-bottom: 174px;
    }
}